<div>
  <p>Something something make a random password</p>

  <ul>
    <li><input class="charOption" type="checkbox" name="lowerCase" id="lowerCase" value="abcdefghijklmnopqrstuvwxyz" checked/><label for="lowerCase">Lowercase Letters</label></li>
    <li><input class="charOption" type="checkbox" name="upperCase" id="upperCase" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ" /><label for="upperCase">Uppercase Letters</label></li>
    <li><input class="charOption" type="checkbox" name="numbers" id="numbers" value="1234567890"/><label for="numbers">Numbers</label></li>
    <li><input class="charOption" type="checkbox" name="symbols" id="symbols" value="!@#$%^&amp;*()_+-={}:&quot;|<>?~`,./;'\[]'"/><label for="symbols">Symbols</label></li>
    <li>
      <label for="length">Length</label>
      <select name="length" id="length">
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
      </select>
    </li>
  </ul>
  <button onclick="createPassword()">Generate</button>
  <input id="result" type="text" disabled="disabled"/>
</div>

<% @extraScripts = '<script src="/js/passwords.js"></script>' %>
