<%
  ####
  # footer.erb
  #
  # A simple file just to give the site a standard look and feel, with a
  # copyright notice.
  #
  # Be a good coder - maintain other developer's copyright!
  #
  # This particular code (the whole sinatra-skeleton application) is a
  # MIT Licensed piece of software, which means you can do whatever you like
  # to it - but you should maintain the existing license and copyright notice
  #
  # For more information if you want to license your own software, check out
  # https://choosealicense.com/
%>
<div id="footer">
  <%
    # Some characters can't be displayed nicely in a HTML file, so we have to
    # 'encode' them first - here you have &copy; - which is the © symbol
    #
    # Other useful encoded characters are &lt; and &gt; for < and > respectively
  %>
  &copy; 2017 <a href="https://caffeinateddave.com">CaffeinatedDave</a>
</div>
