<%
  ####
  # header.erb
  #
  # A standard file just to give every page on  the site the same look and feel.
  # This provides the menu
  #
%>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sinatra Skeleton</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="https://github.com/caffeinateddave/sinatra-skeleton">GitHub</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Easy</li>
            <li><a href="/modules/structure">Sinatra App Structure</a></li>
            <li><a href="/modules/html">HTML basics</a></li>
            <li><a href="/modules/js">Javascript basics</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Medium</li>
            <li><a href="/modules/ruby">Ruby Basics</a></li>
            <li><a href="/modules/erb">ERB templates</a></li>
            <li><a href="/modules/db">Database (Postgresql)</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Hard</li>
            <li><a href="/modules/rake">Rake</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
