<html>
  <head>
  </head>
  <body>
    <h1> - Sinatra Skeleton - </h1>
    <div id="container">
      <p class="bg-warning"><%= flash[:warning] %></p>
      <p class="bg-info"><%= flash[:notice] %></p>
      <p class="bg-success"><%= flash[:success] %></p>
      <%=yield%>
    </div>
  </body>
</html>
