body {
  padding-top: 70px;
}

body>div.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
}

pre {
  width: 60%;
  margin: auto;
}
pre.demoPane {
  width: 95%;
  margin: auto;
}

#toolCode {
  clear: both;
}
.toggleCodeButton {
  float: right;
}
.toggleCodeButtonHidden {
  float: right;
  display: none;
}

#fullTimerBar {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}
#timerTool {
  width:100%;
  text-align: center;
}
#timeLeft {
  font-size: 10em;
}
